<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>	
	"use strict";

		function forEach(obj , cb) {
			
			var keys = Object.keys(obj);

			for (var i = 0; i < keys.length; i++) {
			cb( obj[keys[i]] , keys[i] );
			}
		}
		var objUser = {
			name : 'Andrei',
			lastName : 'Motreac',
			adress : 'kishingtown'
		}
		
		forEach (objUser , function (v , k) {
			console.log(k + "  :  " + v);
		})
</script>
</body>
</html>