<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
		"use strict";

		function camelCase(string) {
			var arr = string.split(" ");

			for (var i = 1; i < arr.length; i++) {
				arr[i] = arr[i][0].toUpperCase() + arr[i].slice(1);
			}
			
			return arr.join('');
		}

		console.log(camelCase("im word lolo"));

</script>
</body>
</html>
