    <meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
		"use strict"

		var obj = [1,2,3,4,5];

		function map(obj,callback) {

			var keys = Object.keys(obj);

			var viparray = [];

			for (var i = 0; i < obj.length; i++) {

				viparray.push(callback(obj[keys[i]], keys[i]));
			}
			return viparray;
		}

			var call = map(obj, function(item,i) {
			return i;
			
			});
		
			console.log(call);

</script>
</body>
</html>