<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>
<body>
<script>
	'use strict';

		var tpl = `
			<div>
				<span class="title">
					{{title}}
				</span>
				<span class="text">
					{{text}}
				</span>
				<span class="comment">
					{{comment}}
				</span>
			</div>
		`;
		
		var list = 	[
			{
				title: 'qwerty',
				text: 'iuh',
				comment: '123'
			},
			{
				title: 'ytrewq',
				text: 'booooooooom',
				comment: '456'
			},
			{
				title: 'asdfgh',
				text: 'stradajte',
				comment: '789'
			}
		];

		function moveTemplate(arr, string) {
			var result = '';
			var newString = string;
			
			for (var j = 0; j < arr.length; j++) {
				var keys = Object.keys(arr[j]);

				for (var i = 0; i < keys.length; i++) {
					
					string = string.replace(
						'{{' + keys[i] + '}}', arr[j][keys[i]]
					);
				}
				
				result += string;
				
				string = newString;
			}

			return result;
		}

		console.log(moveTemplate(list, tpl));
</script>
</body>
</html>