<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>
<body>
<script>
	"use strict";
	var tpl = `
		<div>
			<span class="title">
				{{title}}
			</span>
			<span class="text">
				{{text}}
			</span>
		</div>
	`;
	var list = [
		{
			title: 'qwerty',
			text: 'iuh'
		},
		{
			title: 'ytrewq',
			text: 'booooooooom'
		},
		{
			title: 'asdfgh',
			text: 'stradajte'
		}
	];
	function Generator( html , inf ) {
			var arrOfKeys = Object.keys(inf[0]);
			var html_one = '';
			var html_second = '';
			var html_main = '';
			var start;
			var end;
			for(var i = 0; i < inf.length; i++) {
					start = html.indexOf('{{');
					end = html.indexOf('}}');
					html_one = html.slice(0 , start) + inf[i]['title'] + html.slice(end + 2 , html.length -1);
					start = html_one.indexOf('{{');
					end = html_one.indexOf('}}');
					html_second = html_one.slice(0 , start) + inf[i]['text'] + html_one.slice(end + 2 , html_one.length);
					html_main += html_second;
					html_one = '';
					html_second = '';
			}
			alert(html_main);
	}
	
	Generator(tpl , list);
</script>
</body>
</html>